{"parser":"@typescript-eslint\/parser","extends":["prettier"],"plugins":["prettier"],"rules":{"prettier\/prettier":["error"],"no-console":["error",{"allow":["info","warn","error"]}],"no-var":"error","quotes":["error","single"]},"env":{"node":true,"jest":true,"es6":true},"parserOptions":{"ecmaVersion":8,"sourceType":"module"},"globals":{"shallow":true}}
